body {
    margin: 0%;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Tiro Devanagari Hindi', serif;
    padding-top: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: brown;
}

.car {
    text-align: center;
    font-size: 40px;
    color: brown;
}

h3 {
    font-size: 30px;
    color: brown;
}

span {
    color: crimson;
}

.intro {
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

.express {
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.stat {
    background-color: aliceblue;
    border: solid;
    border-radius: 30px;
    border-color: aqua;
}

.MP {
    padding-top: 50px;
}

.car-stat {
    width: 70%;
    text-align: center;
    box-shadow: 10px 10px 40px rgb(42, 173, 225);
    margin: auto;
    border-radius: 10px;
}

#redball {
    border-image: linear-gradient(red, purple);
    border-image-slice: 1;
    border-left: 7px solid;

}

#whiteball {
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
    border-left: 7px solid;

}

#shorter {
    border-image: linear-gradient (black, chocolate);
    border-image-slice: 1;
    border-left: 7px solid;
}

.half-intro {
    width: 50%;
    padding-left: 2%;
}

.half-intro img {
    width: 80%;
}

.half-express {
    width: 50%;
    padding-right: 2%;
}

.half-express img {
    width: 80%;
}

.half-MP {
    width: 50%;
    padding-right: 2%;
}

.half-MP img {
    width: 80%;
}

.half-history {
    width: 50%;
    padding-right: 2%;
}

.half-history img {
    width: 80%;
}

.flexible {
    display: flex;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    padding-right: 50px;
    font-size: 20px;
}

.wkt {
    text-align: justify;
    font-size: 20px;
}

ul {
    font-weight: 700;
}

#foot {
    text-align: center;
    font-weight: 100;
}